body {
	min-width: 1200px;
	margin: 0;
	padding: 0;

	font-family: "Cuprum", "Roboto", sans-serif;
	font-size: 17px;
	line-height: 17px;
	font-weight: 400;
	color:#ffffff;
	text-transform: none;

	background-color: #ffffff;
}

header {
	background-color: #f3f7f9;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-up {
	color: #ffffff;

	background-color: #293449;
	background-position: 0 0;
	background-repeat: repeat;
	font-size: 17px;
	line-height: 18px;
}

a {
	text-decoration: none;
}

.btn {
	font-family: "Cuprum", "Roboto", sans-serif;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 14px;
	line-height:18px;

	background-color: #ee3643;
	border: none;
}

input::placeholder {
	font-family: "Cuprum", "Roboto", sans-serif;
}

.btn:hover,
.btn:focus {
	background-color: #ca2c37;
}

.header-up a {
	color: #ffffff;
}

.header-logo {
	background-color: #ee3643;
}

.header-logo:hover,
.header-logo:focus {
	background-color: #ca2c37;
}

.search-form {
	border: none;
	background-color: #293449;
}

.search-form:hover {
	color: #000000;
	background-color: #212a3a;
}

.search-form:focus {
	background-color: #ffffff;
}

.search-form {
	outline-style: none;
}

input.search-form::placeholder {
	color: #ffffff;
}

input.search-form:focus {
	background-color: : #ffffff;
}

.header-box:hover,
.header-box:focus {
	background-color: #212a3a;
}

.ordering:hover,
.ordering:focus {
	background-color: #5fbb2d;
}

.ordering {
	background-color: #63a63e;
}

.header-basket {
	background-color: #ee3643;
}

.header-basket:hover,
.header-basket:focus {
	background-color: #212a3a;
}

.basket-product {
	display: none;
}

.header-down p {
	color: #ee3643;
	font-size: 16px;
	font-style: italic;
	line-height: 23px;
}

.phone {
	font-size: 21px;
	line-height:21px;
	color:#ee3643;
	border: 3px solid #ffffff;

}

address {
	font-size: 14px;
	font-style: normal;
	line-height:24px;
	color:#32425c;
}

.user,
.enter {
	font-size: 21px;
	line-height:21px;
	color:#000000;

	background-color: #ffffff;
}

.cabinet {
	font-size: 16px;
	line-height:18px;
	color:#32425c;
	text-decoration: underline;
}

.cabinet:hover,
.cabinet:focus {
	color: #ee3643;
}

.user-block a:hover,
.user-block a:focus {
	color: #ee3643;
}

.navigation {
	background-color: #32425c;
}

.main-navigation a {
	color:#ffffff;
}

.site-navigation {
	list-style: none;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	background-color: #293449;
}

.container {
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: 400;
	color: #000000;
	background-color: #ffffff;
}

.breadcrumbs {
	list-style: none;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 18px;
}

.breadcrumbs a {
	color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
	text-decoration: underline;
}

.page {
	font-family: "Cuprum", "Roboto", sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
	color: #32425c;
	background-color: #f2f6f8;
}

.span-filters {
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	background-color: #f7f3ec;
}

.price {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 17px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.box-one,
.box-two {
	font-size: 17px;
	line-height: 18px;
	background-color: #f7f3ec;
	border: none;
}

.filters fieldset {
	border: none;
}

.filters legend {
	font-size: 17px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.filters ul {
	list-style: none;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
}

.catalog-list {
	list-style: none;
}

.catalog-list h3 {
	font-size: 18px;
	line-height: 20px;
}

.catalog-item-price {
	font-weight: 700;
	color: #ffffff;
	font-size: 17px;
	line-height: 18px;
	background-color: #ee3643;
}

.catalog-item-price:hover,
.catalog-item-price:focus {
	background-color: #ca2c37;
}

.catalog-item-through {
	font-weight: 700;
	color: #999999;
	font-size: 17px;
	line-height: 18px;
	text-decoration: line-through;
}

.filter-button-button {
	font-weight: 400;
	font-family: "PT Sans", "Arial", sans-serif;
	color: #000000;
	border: 1px solid #e5e5e5;
	background-color: #ffffff;
	text-transform: uppercase;
}

.index-columns {
	font-weight: normal;
	color: #000000;
	font-size: 13px;
	line-height: 24px;

	background-color: #ffffff;
}

.index-columns h2 {
	font-weight: 400;
	text-transform: uppercase;
	font-size: 30px;
	line-height:30px;
	font-family: "Cuprum", "Roboto", sans-serif;
}

.advantages-text {
	font-family: "PT Sans", "Arial", sans-serif;
}

.companies-text {
	font-family: "Cuprum", "Roboto", sans-serif;
	font-size: 18px;
	line-height:20px;
}

.advantages-list,
.companies-list {
	list-style: none;
}

.write-form {
	display: none;
}

footer {
	background-color: #293449;
}

.footer-down {
	font-size: 18px;
	line-height:24px;

	background-color: #32425c;
}

.footer-logo {
	background-color: #ee3643;
}

.footer-logo:hover,
.footer-logo:focus {
	background-color: #ca2c37;
}

.footer-address {
	font-size: 18px;
	line-height:24px;
}

.footer-contacts a,
.footer-contacts address {
	color: #f3f7f9;
}

.footer-navigation,
.footer-navigation-list {
	list-style: none;
}

.footer-navigation a{
	color: #f1f5f7;
}

.footer-navigation-list a{
	color: #ffd180;
}

.footer-navigation a:hover,
.footer-navigation a:focus,
.footer-navigation-list a:hover,
.footer-navigation-list a:focus {
	text-decoration: underline;
}

.footer-relations {
	font-size: 16px;
	line-height:18px;

	background-color: #293449;
}

.footer-socials {
	list-style: none;
}

.footer-relations a{
	color: #ffd180;
}

.footer-relations a:hover,
.footer-relations a:focus {
	text-decoration: underline;
}

.footer-socials-1 a,
.footer-socials-2 a,
.footer-socials-3 a {
	color: #ffffff;
}

.footer-socials-1 a:hover,
.footer-socials-1 a:focus,
.footer-socials-2 a:hover,
.footer-socials-2 a:focus,
.footer-socials-3 a:hover,
.footer-socials-3 a:focus {
	text-decoration: none;
}

/*Сеточные стили*/

html,
body {
	min-width: 1200px;
}

.main-header {
	margin-bottom: 59px;
}

.header-up {
	display: flex;
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
	margin-bottom: 46px;
	flex-direction: row;
	align-items: center;
}

.header-box-ordering {
	display: flex;
	margin-left: auto;
	align-items: center;
}

.header-up-wrapper {
	background-color: #293449;
}

.header-down {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.header-down p {
	padding-left: 53px;
	width: 196px;
}

.phone-address {
	display: flex;
	flex-direction: column;
	width: 270px;
	flex-wrap: nowrap;
}

.phone {
	width: 270px;
}

.header-down address {
	width: 250px;
}

.header-down-wrapper {
	background-color: #f3f7f9;
}

.navigation {
	margin: 0 auto;
	width: 940px;

	background-color: #32425c;
}

.site-navigation {
	display: flex;
	justify-content: space-between;
	width: 940px;
	margin: 0;
	padding: 0;

	list-style: none;
}

.index-columns {
	display: flex;
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
	justify-content: space-between;
	margin-bottom: 86px;
}

.company {
	width: 548px;
}

.contacts {
	width: 300px;
}

.footer-down {
	display: flex;
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.footer-wrapper {
	background-color: #32425c;
}

.footer-relations {
	display: flex;
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
	align-items: baseline;
	
}

.footer-span-block {
	width: 245px;
	margin: 0;
	margin-right: 160px;
}

.footer-socials {
	width: 140px;
}

.footer-developer {
	display: flex;
	flex-direction: column;
	width: 300px;
	margin-left: auto;

}

.footer-logo-contacts {
	display: flex;
	flex-direction: column;
}

.footer-navigation-wrapper {
	display: flex;
	flex-direction: column;
	margin-left: auto;
}

.footer-navigation {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	width: 547px;
	margin-left: auto;
	margin-top: 42px;

	list-style: none;
}

.footer-navigation-list {
	display: flex;
	justify-content: space-between;
	width: 524px;
	padding: 0;
	margin-left: auto;
	padding-top: 17px;
	margin-bottom: 80px;

	list-style: none;
}

.footer-logo {
	width: 220px;
	height: 63px;
}

.footer-logo img {
	padding-top: 20px;
	padding-left: 41px;
}

.footer-contacts {
	margin-top: 38px;
}